<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hnxind.zscj">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Act_Login"
            android:label="@string/login_lable"
            android:theme="@style/loginStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.rollManager.Act_rollManager"
            android:label="@string/roll_manager"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.rollManager.Act_Contacts.Act_Contacts"
            android:label="班级通讯录"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.rollManager.Act_Score.Act_score"
            android:label="成绩查询"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.rollManager.Act_PayForStudy.Act_PayForStudy"
            android:label="学费查询"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.rollManager.Act_Kebiao.Act_Kebiao"
            android:label="课表查询"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.CrpSystem.Act_CrpSystem"
            android:label="CRP系统"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.CrpSystem.Act_Information.Act_Information"
            android:label="信息查询"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.utils.Act_WebView"
            android:label="WebView"
            android:theme="@style/mStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.hnxind.schoolCard.Act_SchoolCard"
            android:label="一卡通"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.schoolCard.Act_CostList.Act_CostList"
            android:label="消费查询"
            android:theme="@style/mStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.hnxind.personInfo.Act_PersonInfo"
            android:label="个人信息"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.library.Act_Library"
            android:label="图书信息"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.library.qianfei.Act_Qianfei"
            android:label="欠费查询"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.library.jieyueHistory.Act_JieyueHistory"
            android:label="借阅历史"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.library.Act_Book"
            android:label="书籍查询"
            android:theme="@style/mStyle"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.hnxind.fankui.Act_Fankui"
            android:label="建议反馈"
            android:theme="@style/mStyle"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Act_Wellcome"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hnxind.setting.Act_Setting"
            android:label="个人设置"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.newStudent.BaoDao.Act_BaoDaoLC"
            android:label="报到流程"
            android:theme="@style/mStyle" />
        <activity
            android:name="com.hnxind.newStudent.BaoDao.Act_BD"
            android:label="报到信息"
            android:theme="@style/mStyle" />
        <activity android:name="com.hnxind.newStudent.BaoDao.Act_Sushe"
            android:label="宿舍查询"
            android:theme="@style/mStyle"></activity>
    </application>

</manifest>
